torino-seo-audit/Torino SEO GEO Audit - Complete Workflow.json
{
  "name": "Torino SEO GEO Audit - Complete Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "e40fb6f2-64e5-4755-b0f6-db745a7d06a8",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        4080,
        1952
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const content = $json.message || $json.text || JSON.stringify($json);\n  const jsonMatch = content.match(/\\[\\s*\\{[\\s\\S]*?\\}\\s*\\]/);\n  if (jsonMatch) {\n    return JSON.parse(jsonMatch[0]);\n  }\n  return JSON.parse(content);\n} catch (e) {\n  return [{\"error\": \"Failed to parse response\"}];\n}"
      },
      "id": "16ddaea3-55f9-4ce4-9eb6-3036e7eb4a36",
      "name": "Parse Query Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4656,
        1952
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "bcf7e9fa-8720-4bb4-9305-2e0058789ce7",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4848,
        1952
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=={{ $json.query }}"
            },
            {
              "name": "hl",
              "value": "=={{ $json.language }}"
            },
            {
              "name": "gl",
              "value": "=\t={{ $json.country }}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "location",
              "value": "Turin, Italy"
            },
            {
              "name": "google_domain",
              "value": "google.com"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {}
          },
          "timeout": 30000
        }
      },
      "id": "e8dbdded-befe-4fc0-98da-22eba32fa8f1",
      "name": "HTTP Request: SerpAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5104,
        1936
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "serpApi": {
          "id": "NH57PjRYhRaQxC4l",
          "name": "SerpAPI account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = $json.organic_results || [];\nconst topResults = results.slice(0, 10);\nconst torinoResult = results.find(r => r.link && r.link.includes('turismotorino.org'));\nconst torinoPosition = results.findIndex(r => r.link && r.link.includes('turismotorino.org')) + 1;\n\nreturn {\n  query: $json.search_parameters?.q || 'N/A',\n  language: $json.search_parameters?.hl || 'N/A',\n  country: $json.search_parameters?.gl || 'N/A',\n  organic_results: topResults.map((result, index) => ({\n    position: index + 1,\n    title: result.title,\n    link: result.link,\n    domain: result.link ? new URL(result.link).hostname : 'N/A'\n  })),\n  has_turismo_torino: torinoResult ? true : false,\n  torino_position: torinoPosition > 0 && torinoPosition <= 10 ? torinoPosition : null,\n  torino_in_top_3: torinoPosition >= 1 && torinoPosition <= 3,\n  torino_in_top_10: torinoPosition >= 1 && torinoPosition <= 10\n};"
      },
      "id": "60694746-53a1-4494-abef-cc1105f287e3",
      "name": "Data Normalization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5376,
        1936
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  workflow_name: 'Torino SEO GEO Audit',\n  execution_timestamp: new Date().toISOString(),\n  status: 'completed',\n  analysis_report: $json\n};"
      },
      "id": "242cca55-f8c8-44ca-ba28-0fd623f2054c",
      "name": "Final Report Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6112,
        1936
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5584,
        1936
      ],
      "id": "3fb63253-1357-49b0-8d97-0af988589029",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Generate 150+ realistic tourist search queries for Turin\nconst languages = {\n  fr: { country: 'France', intents: ['inspiration', 'practical', 'attractions', 'events', 'food', 'transport', 'accommodation'] },\n  en: { country: 'UK', intents: ['inspiration', 'practical', 'attractions', 'events', 'food', 'transport', 'accommodation'] },\n  it: { country: 'Italy', intents: ['inspiration', 'practical', 'attractions', 'events', 'food', 'transport', 'accommodation'] }\n};\n\nconst queries = {\n  fr: {\n    inspiration: ['que voir à Turin', 'Turin attractions touristiques', 'itinéraire Turin 3 jours', 'Turin ville magique', 'Turin musées'],\n    practical: ['Turin comment aller', 'Turin transports', 'Turin gare', 'Turin aéroport', 'Turin parking'],\n    attractions: ['Mole Antonelliana Turin', 'Musée du Cinéma Turin', 'Palais Royal Turin', 'Piazza Castello', 'Cathédrale Turin'],\n    events: ['événements Turin', 'festivals Turin 2025', 'fêtes Turin', 'marché Turin', 'spectacles Turin'],\n    food: ['restaurants Turin', 'cuisine piémontaise', 'truffes Turin', 'Bagna Cauda', 'Plin Turin'],\n    transport: ['bus Turin', 'tramway Turin', 'metro Turin', 'biglietto trasporto', 'GTT Turin'],\n    accommodation: ['hôtels Turin', 'chambres Turin', 'airbnb Turin', 'auberges Turin', 'B&B Turin']\n  },\n  en: {\n    inspiration: ['what to see in Turin', 'Turin tourist attractions', 'Turin 3 day itinerary', 'Turin travel guide', 'Turin museums'],\n    practical: ['how to get to Turin', 'Turin transport', 'Turin station', 'Turin airport', 'Turin parking'],\n    attractions: ['Mole Antonelliana Turin', 'Cinema Museum Turin', 'Royal Palace Turin', 'Piazza Castello', 'Turin Cathedral'],\n    events: ['Turin events', 'Turin festivals 2025', 'Turin celebrations', 'Turin markets', 'Turin shows'],\n    food: ['Turin restaurants', 'Piedmont cuisine', 'Turin truffles', 'Bagna Cauda', 'Turin Plin'],\n    transport: ['Turin buses', 'Turin tram', 'Turin metro', 'Turin tickets', 'public transport'],\n    accommodation: ['Turin hotels', 'Turin rooms', 'Turin airbnb', 'Turin hostels', 'Turin bed and breakfast']\n  },\n  it: {\n    inspiration: ['cosa vedere a Torino', 'attrazioni turistiche Torino', 'itinerario Torino 3 giorni', 'guida turistica Torino', 'musei Torino'],\n    practical: ['come arrivare a Torino', 'trasporti Torino', 'stazione Torino', 'aeroporto Torino', 'parcheggio Torino'],\n    attractions: ['Mole Antonelliana', 'Museo del Cinema', 'Palazzo Reale', 'Piazza Castello', 'Duomo di Torino'],\n    events: ['eventi Torino', 'festival Torino 2025', 'feste Torino', 'mercati Torino', 'spettacoli Torino'],\n    food: ['ristoranti Torino', 'cucina piemontese', 'tartufi Torino', 'Bagna Cauda', 'Plin'],\n    transport: ['autobus Torino', 'tram Torino', 'metro Torino', 'biglietti GTT', 'trasporto pubblico'],\n    accommodation: ['hotel Torino', 'camere Torino', 'airbnb Torino', 'ostelli Torino', 'bed breakfast Torino']\n  }\n};\n\nconst results = [];\nfor (const [lang, langData] of Object.entries(languages)) {\n  for (const intent of langData.intents) {\n    const queryList = queries[lang][intent];\n    for (const query of queryList) {\n      results.push({\n        language: lang,\n        country: langData.country,\n        intent: intent,\n        query: query\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "id": "976ed333-4c5b-49c0-9075-b06ae70bdc5f",
      "name": "Generate Tourist Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        1952
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analizza QUESTI DATI REALI DI RICERCA per Torino ricevuti:\n\n{{ JSON.stringify($input.all(), null, 2) }}\n\nPer OGNI lingua (en, fr, it):\n1. Conta quante query hanno turismotorino.org nei top 10\n2. Calcola % visibilità = (query con turismotorino.org / totale) × 100\n3. Posizione media = media delle posizioni\n4. Top 3 = quante query in top 3\n5. Top 10 = quante query in top 10\n\nProdotti JSON con:\n- summary_per_language: {total_searches, visibility_percentage, average_position, top_3_count, top_10_count}\n- seo_issues: [lista problemi reali]\n- geo_opportunities: [liste opportunità reali]\n- recommendations: [raccomandazioni basate su DATI REALI]\n\nNON inventare dati - USA solo i dati ricevuti!",
        "hasOutputParser": true,
        "needsFallback": false,
        "options": {
          "systemMessage": "Sei un expert in SEO e GEO marketing. Analizza dati e produci JSON strutturato sempre.",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5760,
        1936
      ],
      "id": "891424f1-8082-45f9-9b26-84f2d923a5a3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "builtInTools": {},
        "options": {
          "frequencyPenalty": 0,
          "maxTokens": 4000,
          "presencePenalty": 0,
          "temperature": 0.5,
          "timeout": 60000,
          "maxRetries": 2,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        5616,
        2240
      ],
      "id": "500503e7-8179-4240-a51e-abe6d5f56129",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "O7Zh2Pg9SwLVnbvf",
          "name": "OpenAi account 2"
        }
      }
    }

  ],
  "pinData": {},
  "connections": {
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Generate Tourist Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Tourist Queries": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query Response": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request: SerpAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: SerpAPI": {
      "main": [
        [
          {
            "node": "Data Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Normalization": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Final Report Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2e2ae934-641e-4615-bfb9-9aacf79547ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f4febd6108c1b6bd0f3549879119d43f4f58265a6c1a21e2f80c960923accf9"
  },
  "id": "8i24uq-2RVX_WRF-QwUOd",
  "tags": []
}